$background-color_1: white;

.user-profile-dropdown {
  &::before {
    content: "";
    position: absolute;
    top: -0.7rem;
    right: 7.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
  }
}

.text-style {
  text-transform: capitalize;
}